@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    min-height: 100vh;
    background: #F2E0D4;   
}

.header-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    /* background: #D9AAA0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    /* color: #000; */
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #000;
    text-decoration: none;     /* biar gada underline */
    font-weight: 500;       /* ini kea bold gitu */
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0px; 
    bottom: -10px;
    width: 100%;    /* biar width underlinenya sama kea wordnya */
    height: 3px;
    background: #D9AAA0;
    border-radius: 5px;
    transform: scaleX(0);  /* ada underline dibawah nav, matiin biar kliatan */
    transition: transform .5s;
    transform-origin: right; /* uat set effectnya itu */
}

.navigation a:hover::after {  /* abis selesai hove */
    transform: scaleX(1);
    transform-origin: left;
}   

/* for calender */
.wrapper {
    width: 450px;
    background: #D9AAA0;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.wrapper header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

header .current-date {
    font-size: 1.45rem;
    font-weight: 500;
}

header .icons {
    display: flex;
}

header .icons span {
    height: 38px;
    width: 38px;
    color: #F2E0D4;
    font-size: 1.9rem;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    /* background: #F2E0D4; */
    user-select: none;
}

header .icons span:hover{
    color: #D9AAA0;
    background: #F2E0D4;
}

header .icons span:last-child {
    margin-right: -10px;
}

.calendar {
    padding: 20px;
}

.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.calendar .days {
    margin-bottom: 20px;
}

.days li.inactive {
    color: #F2E0D4;
}

.calendar .weeks li {
    font-weight: 500;
}

.calendar ul li {
    position: relative;
    width: calc(100% / 7);
}

.calendar .days li {
    z-index: 1;
    cursor: pointer;
    margin-top: 30px;
}

.calendar .days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: #D9AAA0;
}

.days li:hover {
    color: #F2E0D4;
}

.days li:hover::before {
    background: #999eae;
}

.days li.active:hover {
    color: #D9AAA0;
}

.days li.active::before {
    background: #F2E0D4;
}