@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #F2E0D4;
}

.timer-container {
  display: flex;
  align-items: center;
}

.timer {
  font-size: 80px;
  margin-right: 20px;
  font-weight: 500;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;} 
}

.controls {
  display: flex;
  flex-direction: column;
}

button:focus {
  outline: none;
}

/* increase decrease buttons */
/* tapi ini masih ada outlineny hhh */
button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* start, stop, clear buttons */
.btn-control {
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}

.btn-control:disabled {
  background: #B0B0B0;
  cursor: not-allowed;
}

.text {
  font-size: 1em;
  color: #71788B;
  position: relative;
  height: 30px;
}

