@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* min-height: 100vh; */
    background-color: #F2E0D4;
}

h3{
    font-size: 25px;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #caced1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #000;
    user-select: none;
}

.navigation {
    padding: 13px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #000;
    text-decoration: none;     /* biar gada underline */
    font-weight: 500;       /* ini kea bold gitu */
    margin-left: 40px;
    padding: auto;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0px; 
    bottom: -10px;
    width: 100%;    /* biar width underlinenya sama kea wordnya */
    height: 3px;
    background: #D9AAA0;
    border-radius: 5px;
    transform: scaleX(0);  /* ada underline dibawah nav, matiin biar kliatan */
    transition: transform .5s;
    transform-origin: right; /* uat set effectnya itu */
}

.navigation a:hover::after {  /* abis selesai hover */
    transform: scaleX(1);
    transform-origin: left;
}

.navigation button{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;     /* biar gada underline */
    font-weight: 500;       /* ini kea bold gitu */
    margin-left: 40px;
    background-color: grey;
}

.box{
    text-align: center;
    font-weight: 700;
    line-height: 30px;
    display: inline-block;
    padding: 5%;
    background-color: #D9AAA0;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.weekly{
    width: 100%;
    text-align: center;
    min-height: 30vh;
    font-size: 17px;
}

.container{
    width:100%;
    background-color: #D9AAA0;
    padding-bottom: 80px;
}

.toDoApp{
    width: 100%;
    text-align: center;
    padding: 15px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 25px;
    margin-top: 25px;
}

input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 18px;
    font-weight: 14px;
    cursor: text;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #caced1;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    margin-right: 10px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color:black;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #c21b1b;
}