@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* min-height: 100vh; */
    background-color: #F2E0D4;
}

h3 {
    font-size: 25px;
}

.box {
    text-align: center;
    font-weight: 700;
    line-height: 30px;
    display: inline-block;
    padding: 5%;
    background-color: #D9AAA0;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.weekly {
    width: 100%;
    text-align: center;
    min-height: 30vh;
    font-size: 17px;
}

.container {
    width: 100%;
    background-color: #D9AAA0;
    padding-bottom: 80px;
}

.toDoApp {
    width: 100%;
    text-align: center;
    padding: 15px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 25px;
    margin-top: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 18px;
    font-weight: 14px;
    cursor: text;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #caced1;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    margin-right: 10px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: black;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #c21b1b;
}