@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

.header-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  /* background: #D9AAA0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {
  font-family: 'Poppins';
  font-size: 2.2em;
  font-weight: 900;
  color: #6e413d;
  user-select: none;
  letter-spacing: 4px;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #000;
  text-decoration: none;     /* biar gada underline */
  font-weight: 500;       /* ini kea bold gitu */
  margin-left: 40px;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0px; 
  bottom: -10px;
  width: 100%;    /* biar width underlinenya sama kea wordnya */
  height: 3px;
  background: #D9AAA0;
  border-radius: 5px;
  transform: scaleX(0);  /* ada underline dibawah nav, matiin biar kliatan */
  transition: transform .5s;
  transform-origin: right; /* uat set effectnya itu */
}

.navigation a:hover::after {  /* abis selesai hove */
  transform: scaleX(1);
  transform-origin: left;
}  

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #F2E0D4;
}

.allin
{
  background-color: #D9D9D9; 
  padding: 20px;
}

.timer-container {
  display: flex;
  align-items: center;
}

.timer {
  font-size: 80px;
  margin-right: 10px;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;} 
}

.controls {
  display: flex;
  flex-direction: column;
}

.controls button {
  border-radius: 50%;  
  /* Set a 50% radius for rounded corners */
  /* Optional styles (adjust as needed) */
  margin: 5px;
  padding: 12px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
  border: 1px solid black ;
  color: #D9AAA0 ;
  font-size: 20px;
}
.controls2
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.controls2 button
{
  border-radius: 20%;  
  border: 1px solid black ;
  margin: 5px;
}

.button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}


