@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
  
body {
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    min-height: 100vh;
    background: #F2E0D4;   
}

.header-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-family: 'Poppins';
    font-size: 2.2em;
    font-weight: 900;
    color: #6e413d;
    user-select: none;
    letter-spacing: 4px;
}

.currentPage{
    background-color: #F2E0D4;
    color: black;
    border-radius: 1rem;
    padding: 1rem;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #000;
    text-decoration: none;     /* biar gada underline */
    font-weight: 500;       /* ini kea bold gitu */
    margin-left: 40px;
    color: #6e413d;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0px; 
    bottom: -10px;
    width: 100%;    /* biar width underlinenya sama kea wordnya */
    height: 3px;
    background: #D9AAA0;
    border-radius: 5px;
    transform: scaleX(0);  /* ada underline dibawah nav, matiin biar kliatan */
    transition: transform .5s;
    transform-origin: right; /* uat set effectnya itu */
}

.navigation a:hover::after {  /* abis selesai hover */
    transform: scaleX(1);
    transform-origin: left;
}   

.navigation a.currentPage {
    font-weight: 700;
}

.navigation a.currentPage::after {
    content: none;
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #D9AAA0;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    margin-left: 40px;
}

.navigation .btnLogin-popup:hover {
    background: #D9AAA0;
    color: #001;
    border: #D9AAA0;
}

main {
    padding: 20px;
}

.places {
    background-color: #D9AAA0;
    padding: 10px;
    border-radius: 10px;
    color: #6e413d;
}

.place-cards a
{
    text-decoration: none;
    color: inherit;
}

.places h1 {
    margin-bottom: 30px;
}

.region {
    margin-bottom: 40px;
}

.region h2 {
    margin-bottom: 20px;
}

.place-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
}

.place-cards button
{
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

button:hover .place-card
{
    font-size: 1.2em;
}

.place-card {
    width: 150px;
    height: 220px;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px;
    transition: font-size 0.2s ease;
}

.list-box1
{
    position: relative;
    margin-top: 100px;
    display: none;
}

.list-box2
{
    position: relative;
    margin-top: 100px;
    display: none;
}

.x-butt-place
{
    text-align: end;
    padding-top: 60px;
    padding-right: 90px;
}

.x-butt
{
    width: 50px;
    height: 50px;
    border-radius: 6px;
}
.list-cafe
{
    background-color: #96A1C0;
    position: relative;
    width: 1000px;
    height: 100vh;
    border-radius: 6%;
}

.text-box
{
    background-color: #D9AAA0;
    transform: translate(10%,4%);
    width: 80%;
    height: 80%;
    padding: 20px;
    border-radius: 2%;
    overflow: hidden;
    overflow-y: auto;
}

.card
{
    background-color: #d99882;
    display: flex;
    margin-bottom: 20px;
}

.card img
{
    height: 130px;
    width: 90px;
}

.card-body
{
    margin-left: 40px;
    text-align: start;
}

/* width */
::-webkit-scrollbar {
    width: 10px; 
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f5f5f5; 
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 5px; 
    cursor: pointer; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}